.fa {
  cursor: pointer;
  color: lightgray;
}

.fa:hover {
  cursor: pointer;
  color: gray;
}

.active-mode {
  color: black;
}

.card-img-top {
  cursor: pointer;
}

.card-title {
  cursor: pointer;
}